<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<div th:fragment="ProductList">
    <h4>Danh sách sản phẩm</h4>

    <a th:href="@{/product/addForm}" class="btn btn-primary btn-sm mb-3">Thêm sản phẩm</a>

    <table class="table table-responsive table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Giá bán</th>
            <th>Tên nhãn hàng</th>
            <th>Nơi sản xuất</th>
            <th colspan="2">Hành động</th>
        </tr>
        </thead>
        <tr th:each="product : ${products}" >
            <td th:text="${product.id}">Id</td>
            <td><img th:src="@{${product.image}}" width="100" height="100" th:alt="${product.image}"/></td>
            <td th:text="${product.productName}">Product name</td>
            <td th:text="${product.price}">Price</td>
            <td th:text="${product.category != null ? product.category.categoryName : 'Chưa có tên loại'}">Category Name</td>
            <td th:text="${product.country}">Country</td>
            <td><a th:href="${'/product/edit/' + product.id}">Sửa</a></td>
            <td><a th:href="${'/product/delete/' + product.id}">Xóa</a></td>
        </tr>
    </table>

<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item" th:if="${currentPage > 0}">-->
<!--                <a class="page-link" th:href="@{/product(page=${currentPage - 1})}">Trước</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:each="item : ${#numbers.sequence(0, totalPage - 1)}">-->
<!--                <a class="page-link" th:href="@{/product(page=${item})}" th:text="${item + 1}"></a>-->
<!--            </li>-->
<!--            <li class="page-item" th:if="${currentPage < totalPage - 1}">-->
<!--                <a class="page-link" th:href="@{/product(page=${currentPage + 1})}">Sau</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</div>

</body>
</html>